body {
    background-color: #212121;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    width: 100%;
    text-align: left;
}

input.full-width {
    width: 300px;
}

input.half-width {
    width: 150px;
}

input {
    background-color: #303030;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #303030;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4f4f4f;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.input-wrapper input {
    width: 260px;
    color: transparent;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 15px;
}

.input-wrapper span {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    padding-left: 5px; /* Ajuste o valor de acordo com o padding do input */
}

.form-row {
    display: flex;
    align-items: center;
}

.form-row label {
    margin-right: 10px;
}

#fabricante {
    background-color: #17fd00;
}

.input-wrapper input::-webkit-inner-spin-button,
.input-wrapper input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}